<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>East,North.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,3},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>East,South.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,109},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>East,West.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,215},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>East.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,321},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>Every.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,427},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>North,South.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,533},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>North,West.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,639},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>North.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,745},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>South,West.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,851},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>South.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,957},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>West.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1063},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>East,North,South.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1169},{11,100}}</string>
        <key>offset</key>
        <string>{-44.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>East,North,West.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1275},{100,10}}</string>
        <key>offset</key>
        <string>{0,-45}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,90},{100,10}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>East,South,West.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1381},{100,10}}</string>
        <key>offset</key>
        <string>{0,45}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,10}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>North,South,West.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,1487},{10,100}}</string>
        <key>offset</key>
        <string>{45,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{90,0},{10,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>texture2.png</string>
      <key>size</key>
      <string>{106,1590}</string>
      <key>textureFileName</key>
      <string>texture2</string>
    </dict>
  </dict>
</plist>
